.naming {
  background: #61dafb;
  width: 50%;
  height: 50px;
  margin: 15px auto;
  padding: 10px;
}

.description{
  background: bisque;
  width: 70%;
  height: 150px;
  margin: 25px auto;
  padding: 20px;
}

.workspace {
  background: burlywood;
  width: 70%;
  height: 300px;
  margin: 25px auto;
  padding: 20px;
}
