.edit-persons {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.edit-page {
    margin: 20px;
    font-size: 18px;
}

.person {
    font-size: 20px;
    display: flex;
    margin-block: 6px;
}

.person-data {
    align-self: center;
    margin-right: 20px;
}

.input-field {
    margin-top: auto;
    margin-right: 8px;
}
