.edit-persons {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.edit-page {
    margin: 20px;
    font-size: 18px;
}

.person {
    font-size: 20px;
    display: flex;
    margin-block: 6px;
    animation: 1s person-appear ease-in;
}

@keyframes person-appear {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


.person-data {
    align-self: center;
    margin-right: 20px;
}

.input-field {
    margin-top: auto;
    margin-right: 8px;
}
