.block-items {
    background: #F5F5F7;
}

.block-move-your-way {
    padding-top: 68px;
    padding-bottom: 73px;
    margin-inline: 6vw;
}
.move {
    font-size: 67px;
    line-height: 67px;
}

.desc {
    font-size: 20px;
    line-height: 25px;
    margin-top: 27px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: auto;
    list-style: none;
    flex: auto;
    background: #FFFFFF;
    border-radius: 16px;
    margin-inline: 10px;
    padding-inline: 20px;
    margin-top: 30px;
}

.item-container {
    display: flex;
    padding-bottom: 50px;
}

.serv ul li {
    list-style: none;
    flex: 0 0 33.333333%;
}

.bike-photo {
    padding-top: 67px;
    object-fit: contain;
    width: 100%;
}

.price {
    margin-right: 10px;
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    color: #49464F;
}

.bike-name {
    margin-top: 39px;
    font-size: 29px;
    line-height: 34px;
    color: #49464F;
}

.bike-type {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    font-size: 18px;
    line-height: 22px;
    color: #49464F;
}

.button-details {
    display: flex;
    width: 180px;
    height: 61px;
    border: 1px solid #2E2C34;
    border-radius: 999px;
    font-size: 16px;
    background: white;
    color: #2E2C34;
    margin-top: auto;
    margin-bottom: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-offer {
    width: 107px;
    height: 26px;
    color: #7140EB;
    background: #F1EEF8;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24px;
    padding: initial;
}

.woman-container {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-top: 74px;
}

.block-just-ride {
    margin-right: 50px;
}

.just-ride {
    width: 426px;
    height: 201px;
    font-size: 67px;
    line-height: 67px;
    color: #2E2C34;
}

.just-ride-text {
    width: 313px;
    height: 65px;
    font-size: 18px;
    line-height: 22px;
    color: #2E2C34;
    margin-top: 26px;
}

.woman {
    object-fit: contain;
    flex: auto;
    width: 40%;
    margin-right: 20px;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .block-move-your-way {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-inline: 20px;
    }

    .move {
        font-size: 48px;
        text-align: center;
        line-height: 67px;
    }

    .item {
        width: 150px;
        height: auto;
        list-style: none;
        flex: auto;
        background: #FFFFFF;
        border-radius: 16px;
        margin-inline: 10px;
        padding-inline: 20px;
        margin-top: 30px;
    }

    .item-container {
        display: flex;
        padding-bottom: 50px;
        flex-flow: wrap-reverse;
    }

    .bike-photo {
        padding-top: 20px;
        object-fit: contain;
        width: 100%;
    }

    .bike-name {
        margin-top: initial;
        font-size: 20px;
        line-height: 30px;
        color: #49464F;
    }

    .button-details {
        width: auto;
        height: 30px;
        font-size: 14px;
        margin-bottom: 20px;
        max-width: fit-content;
    }

    .woman-container {
        display: initial;
        margin-inline: auto;
        margin-top: 74px;
    }

    .woman {
        object-fit: contain;
        flex: auto;
        width: 90%;
        margin-right: initial;
        margin-left: initial;
    }

    .block-just-ride {
        margin-right: initial;
    }

    .just-ride {
        width: initial;
        height: initial;
        font-size: 36px;
        line-height: 40px;
        color: #2E2C34;
        text-align: center;
    }

    .your-city {
        font-size: 65px;
        line-height: 67px;
        color: #FFFFFF;
    }

    .just-ride-text {
        width: auto;
        text-align: center;
        height: 65px;
        font-size: 18px;
        line-height: 22px;
        color: #2E2C34;
        margin-top: 26px;
    }
}
